@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --black:#000000;
    --white:#ffffff;
    --gray:#333333;
}

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: var(--black);
    color: var(--white);
}

.mains{
    text-align: center;
}

.logos{
    text-align: center;
}

.container{
    padding: 1rem;
}

.mt-3{
    margin-top: 3rem;
}

/* .mt-2{
    margin-top: 2rem;
} */

input{
    font-size: 120%;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
}

input[type=submit]{
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--gray);
}

.Emojyy{
    font-size: 50px;
    /* width: 8rem;
    max-width: 8rem; */
    transition: all 0.5s;
    
}

.Emojyy:hover{

    transform: scale(1.5);
 
}

.aliases{
    text-transform: capitalize;
    font-size: 15px;
}

.desc{
    font-size: 15px;
}

.desc::first-letter{
    text-transform: uppercase;
}

.result_sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.box{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 0px #803636;
    cursor: pointer;
    background-color: #221f1f;
    /* overflow: auto; */
    /* overflow-wrap: break-word; */
    /* flex-wrap: wrap; */
    /* word-wrap: break-word; */
    transition: all 0.5s;
   
}
.box:hover{
    transform: scale(1.1);
}

.box p{
    word-wrap: break-word;
    /* border: 1px solid gray; */
}

.pt{
    border-radius: 15px;
    border: none;
}

.aliases{
    /* text-overflow: ellipsis; */
    width: 90%;
}


